.form {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}

.submitButton {
  background-color: rgb(13, 125, 217);
  transition: all 0.3s ease 0s;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  margin-left: 5px;
}
.submitButton:hover {
  background-color: rgb(1, 100, 181);
}
.findForm {
  text-align: center;
  margin: 10px;
  padding: 10px;

  border-radius: 5px;
}
.selectField {
  margin-left: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #333;
  background-color: #b7f5ff;
}
.nameField {
  border: 1px solid #333;
  background-color: #b7f5ff;
  border-radius: 5px;
}

.emojiIcon {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 75px;
  z-index: 10;
}
.pickerContainer {
  position: relative;
  width: 300px;
  display: flex;
  align-items: start;
}
.commentItems {
  display: flex;
}
.commentItems p {
  margin-right: 10px;
}
.commentTitle {
  background-color: #f4a4a4;
  border-radius: 10px;
  padding: 5px;
}
.comment {
  background-color: #10c3b7;
  border-radius: var(--borderRadius);
  padding: 5px;
}
.commentsList {
  border: 1px solid #333;
  padding: var(--btnPadding);
  border-radius: var(--borderRadius);
}
@media (max-width: 768px) {
  .findForm {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .submitButton {
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    margin-left: 5px;
  }
}
