.cart {
  margin: 0 auto;
  text-align: center;
}
.productImg {
  max-width: 200px;
  max-height: 200px;
}

.productImg img {
  width: 100%;
  height: 100%;
}
.deleteBtn {
  width: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.product {
  display: grid;
  border: 1px solid #333;

  grid-template-columns: repeat(3, 1fr);
}
.countBtn {
  display: inline-block;
}
.arrBtn {
  width: 10px;
}
.count {
  margin-right: 10px;
}

.cartInput::-webkit-outer-spin-button,
.cartInput::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  padding: 10px;
}

.productCount {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartFooter {
  display: flex;
  gap: 15px;
}
