.active {
  color: #36f4da;
}
.item {
  color: #fff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav {
}
.links {
  display: flex;
  padding: 10px;
  transition: all 0.3s ease 0s;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.links:hover .item {
  color: #000000;
}
.links:hover .item:hover {
  color: rgb(151, 218, 4);
  box-shadow: 0 2px 0 0 currentColor;
}
.link {
  list-style-type: none;
}
